body {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 35% 50% 15%; /* header, botones, footer */
  grid-template-areas:
    "header header header"
    "boton1 boton2 boton3"
    "footer footer footer";
  height: 100vh;
  margin: 0;
}

.header {
  grid-area: header;
  overflow: hidden;
  text-align: center;
}

.header img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.botones {
  display: contents;
}

.boton1, .boton2, .boton3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton1 {
  grid-area: boton1;
}

.boton2 {
  grid-area: boton2;
}

.boton3 {
  grid-area: boton3;
}

.boton1 button,
.boton2 button,
.boton3 button {
  width: 60%;
  height: 40%;
  font-size: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.boton1 button{
  background-color: #db2b27;
}

.boton2 button{
  background-color: #4c9cd3;
}

.boton3 button{
  background-color: #ed9521;
}

button:hover {
  transform: scale(1.05);
}

.footer {
  grid-area: footer;
  background-color: #3f1f00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.footer-icons a {
  display: inline-block;
  width: 17%;
  margin: 0 5%;
}

.footer-icons .icono {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 15%;
}




/*MEDIA QUERY: para pantallas pequeñas*/
@media (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% auto auto auto 12%;
    grid-template-areas:
      "header"
      "boton1"
      "boton2"
      "boton3"
      "footer";
  }

  .boton1, .boton2, .boton3 {
    width: 100%;
    padding: 5% 0;
  }

  .boton1 button,
  .boton2 button,
  .boton3 button {
    width: 50%;
    height: 60%;
    font-size: 100%;
  }

.footer-icons {
    gap: 4%;
  }

  .footer-icons a {
    width: 15%;
  }

  .footer-icons .icono {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    object-fit: cover;
    border-radius: 15%;
  }

}